{% extends "AppFinal0509/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
   
    <div class="text-center text">
    <h1 style="color: hsl(210, 37%, 97%);"> Proyectos CLARO</h1>
    </div>
    <h4 style="color:  hsl(210, 37%, 97%);">Esta pagina fue creada con el objetivo de poder mostrar todos los proyectos de desarrollo interno/externo en Claro.</h4>

    <h4 style="color:  hsl(210, 37%, 97%);">El contenido esta hecho en base a metricas Devops que pueden demostrar la confiabilidad de un equipo para entregar y operar sistemas de software para lograr sus objetivos.</h4>
    
    <h4 style="color:  hsl(210, 37%, 97%);">Una mejor entrega de software va de la mano con una mayor confiabilidad. El análisis muestra que las medidas de confiabilidad se correlacionan significativamente con los perfiles de desempeño de la entrega de software, y los de alto desempeño reportaron consistentemente una confiabilidad superior.</h4>

    <p>
        <button>
            <a href="{% url 'inicio' %}">Volver</a>
        </button>
    </p>

{% endblock %}

